<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script>
        var x = 6;
        var y = 15;
        var z = 4;

        x+=y - x++ * z;
        alert(x);
        z = --x -y * 5;
        alert(z);
        y /= x++ + y * 5;
        alert(y);
        z = x++ + y * 5;
        alert(z);
        x = y - x++ * z;
        alert(x);


        var a = 3;
        var b = 4;
        var c = 5;

        alert(a+b+c/3);

        var s = 0;
        var v = 0;
        var r = 3;
        var h = 10;

        alert(Math.PI * r*r * h);
        alert(2 * Math.PI * r * (r+h));

    </script>
</body>
</html>